body, html, #root, .app {
    background-color: #282c34;
    width: 100%;
    height: 100%;
}


#wrapper {
    width: 600px;
    overflow: hidden; /* will contain if #first is longer than #second */
    margin: auto;
    padding: 10px;
}
#first {
    overflow: hidden;
    width: 200px;
    float:left; /* add this */
    padding-bottom: 5px;
}
#second {
    width: 200px;
    overflow: hidden;
    padding-bottom: 5px; /* if you don't want #second to wrap below #first */
}